@{
    ViewBag.Title = "ShowHide";
}
<h2 data-bind="text: headerCaption" > </h2>
   
<script type="text/javascript">
    jQuery(document).ready(function () 
    {
    
        //to apply theme to buttons
        $( "input:submit, a, button", ".themed" ).button();


        //---Grid Starts--------//
        jQuery("#list")
        .jqGrid
        ({
            url: '/ShowHide/DynamicGridData/',
            //editurl: '/ShowHide/Update',
            datatype: 'json',
            mtype: 'POST',
            
            //  { name: 'PUBLISHER_NAME', index: 'PUBLISHER_NAME', width: 150, align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn']}, editable: true, edittype: 'select', editoptions: { dataUrl: '/ShowHide/PublishersCombo' } },
            colNames: ['OID_MEDIA_CAT_DIGITAL_PLCMNT',  'Genre', 'Plan Name', 'Publisher Id','Publisher Name', 'Placement Name', 'Placement Code', 'Begin Date', 'End Date', 'Cost'],
           
           colModel: [
          { name: 'OID_MEDIA_CAT_DIGITAL_PLCMNT', index: 'OID_MEDIA_CAT_DIGITAL_PLCMNT', width: 100, align: 'left', searchoptions: { sopt: ['eq', 'ne', 'gt', 'lt' ]},   key: true,editable: false, editrules: { edithidden: true }, hidedlg: true, hidden: true  },
          { name: 'MEDIA_GENRE', index: 'MEDIA_GENRE', width: 60, align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn']}, editable: true },
          { name: 'MEDIA_PLAN_NAME', index: 'MEDIA_PLAN_NAME', width: 200, align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn']}, editable: true },
          { name: 'OID_PUBLISHER_ID', index: 'OID_PUBLISHER_ID', width: 30, align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn']}, editable: true, edittype: 'select', editoptions: { dataUrl: '/ShowHide/PublishersCombo' }  },
          { name: 'PUBLICATION_NETWORK', index: 'PUBLICATION_NETWORK', width: 140, align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn']}, editable: false },
          { name: 'PLACEMENT_NAME', index: 'PLACEMENT_NAME', width: 220, align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn']}, editable: true },
          { name: 'PLACEMENT_CODE', index: 'PLACEMENT_CODE', width: 300, align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn']}, editable: true },
          { name: 'BEGIN_DATE', index: 'BEGIN_DATE', width: 60, align: 'right', searchoptions:{sopt:['eq', 'ne','gt', 'lt']}, editable: true, edittype: 'text', editrules: { required: true }, formoptions: { elmsuffix: ' *'} },
          { name: 'END_DATE', index: 'END_DATE', width: 60, align: 'right', searchoptions:{sopt:['eq', 'ne','gt', 'lt']}, editable: true, edittype: 'text', editrules: { required: true }, formoptions: { elmsuffix: ' *'} },
          { name: 'COST', index: 'COST', width: 40, align: 'right', searchoptions: { sopt: ['eq', 'ne', 'gt', 'lt' ]}, editable: true}],
          

            pager: jQuery('#pager'),
            rowNum: 20,
            rowList: [5, 10, 20, 50],
            sortname: 'BEGIN_DATE',
            sortorder: "asc",
            viewrecords: true,
            imgpath: '',
            caption: 'ShowHide',
            height: '100%',
          
         /*
            subGrid: true,
            //subrid model
            subGridModel: [{
                //subgrid columns names
                name: ['Placement Code', 'Clicks', 'Impressions', 'Network'],
                //subgrid columns widths
                width: [200, 100, 100, 100],
                //subrig columns aligns
                align: ['left', 'left', 'left', 'left']
            }],
            //url from which subgrid data should be requested
            subGridUrl: '/ShowHide/SubGridData/'
            */
            
        }).navGrid('#pager', { view: true, del: true, add: true, edit: true },
           {width:600,  url: '/ShowHide/Update', closeAfterEdit: true}, // default settings for edit
           {width:600,  url: '/ShowHide/Insert', closeAfterAdd: true}, // default settings for add
           {url: '/ShowHide/Delete/' }, // delete instead that del:false we need this
       

           {closeOnEscape: true, multipleSearch: true, closeAfterSearch: true, width:600 }, // search options
           {} /* view parameters*/
         );
         

    });

    
  
</script>

<div>
<div class="column span-24"  data-bind="visible: shouldShowMainGrid">
  
        <table id="list" class="scroll" cellpadding="0" cellspacing="0">
        </table>
        <div id="pager" class="scroll" style="text-align: center;" />
</div>
<hr />

<p class ="themed" > 
    @*<a href="#" id="a1">Get Statistics</a>*@

    <button data-bind="click: getStats">Get Statistics</button>
             
</p>
    
</div>




 <!-- stats view  starts-->
 <div class="column span-20" data-bind="visible: shouldShowDetails" >
 
   

     <table >
       
        <tbody data-bind="foreach: statsData">
             <tr>
                 <td>
                  Placement Code:
                 </td>
                 <td>
                    <span  data-bind="text: PLACEMENT_CODE"></span>
                  </td>
                  
            </tr>   
            
            <tr>
                <td>
                 Network:
                </td>
                <td>
                    <span data-bind="text: NETWORK"></span>
                  </td>
            </tr>  
            <tr>
                <td>
                 Clicks:
                </td>
                <td>
                    <span data-bind="text: CLICKS"></span>
                  </td>
            </tr>  

            <tr>
                <td>
                 Impressions:
                </td>
                <td>
                    <span data-bind="text: IMPRESSIONS"></span>
                  </td>
            </tr>  

             <tr>
                 <td>
                  Start Date:
                 </td>
                 <td>
                    <span data-bind="text: START_DATE"></span>
            </td>
                  
            </tr>   
            
            <tr>
                <td>
                 End Date:
                </td>
                <td>
                    <span data-bind="text: END_DATE"></span>
                  </td>
            </tr>  
            <tr>
                <td>
                 Cost:
                </td>
                <td>
                    <span  data-bind="text: COST"></span>
                  </td>
            </tr>  

            <tr>
                <td>
                 Average Position:
                </td>
                <td>
                    <span data-bind="text: AVERAGE_POSITION"></span>
                  </td>
            </tr>  
        </tbody>
    </table>
   
   <p class ="themed" > 
    <button data-bind="click: goback">Back</button>
   </p>
</div>

<script type="text/JavaScript">


    // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
    function AppViewModel() {

        this.statsData = ko.observable();

        this.shouldShowDetails = ko.observable(false);
        this.shouldShowMainGrid = ko.observable(true);
        this.headerCaption = ko.observable("Placements");

        this.goback = function () {

            this.shouldShowMainGrid(true);
            this.shouldShowDetails(false);
            this.headerCaption("Placements");
        };


        this.getStats = function () {

            this.headerCaption("Statistics");
            var id = jQuery("#list").jqGrid('getGridParam', 'selrow');
            if (id) {
                var ret = jQuery("#list").jqGrid('getRowData', id);
                //alert("id="+ret.OID_MEDIA_CAT_DIGITAL_PLCMNT);
                //mydb.getStats(ret.OID_MEDIA_CAT_DIGITAL_PLCMNT);

                $.get('/ShowHide/GetStats', { id: ret.OID_MEDIA_CAT_DIGITAL_PLCMNT }, this.statsData);
                this.shouldShowMainGrid(false);
                this.shouldShowDetails(true);
            }
            else { alert("Please select row"); }

        };
    }

    ko.applyBindings(new AppViewModel());
</script> 

 <!-- stats view ends-->