@charset "UTF-8";
/* CSS Document */
body {
    
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    
    background: rgb(202, 199, 138);
}

a:link {
	color: rgb(102, 102, 102); text-decoration: underline; background-color: transparent;
}
a:hover {
	color: rgb(153, 153, 0); text-decoration: underline; background-color: rgb(255, 255, 204);
}
a:visited {
	color: rgb(102, 102, 102); text-decoration: underline; background-color: transparent;
}
#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
    float:right;
}


/* Styles for validation helpers: copied from Site.css
-----------------------------------------------------------*/
label
{
   
    display: block;
    font-size: 1em;
    
    color: Black;
    
}
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers: copied from Site.css
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
